<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{titre}}</title>

  {{#each styles}}
   <link rel="stylesheet" href={{this}} />
  {{/each}}

  {{#each scripts}}
   <script type="module" src={{this}}></script>
  {{/each}}
 </head>
 <body>
  <header>
   <div id="header-content">
    <div id="header-title">TODO</div>
    <nav id="header-links">
     <a href="/accueil">accueil</a>
     <a href="/status">status</a>
     <a href="/priority">priority</a>
     <a href="/history">history</a>
     <a href="/role">role</a>
    </nav>
   </div>
  </header>

  <main>
   {{{body}}}
  </main>
  <footer>&copy;Group Seven7</footer>
 </body>
</html>