{{!-- Ce contenu sera injecté dans {{{body}}} dans main.handlebars --}}
{{!<div id="app-container">}}
<div id="header-container">
 <h1>Liste des tâches</h1>
 <div id="button-container">
  <button id="add-button">Ajouter une tâche</button>
  <button id="add-button-priority">Ajouter une priority</button>
  <button id="add-button-status">Ajouter une status</button>
 </div>
</div>

<!-- Conteneur pour les 4 colonnes -->
<div id="columns">
 <div class="column" id="todo-column">
  <h2>TODO</h2>
  <ul id="todo-list"></ul>
 </div>
 <div class="column" id="in-progress-column">
  <h2>IN PROGRESS</h2>
  <ul id="in-progress-list"></ul>
 </div>
 <div class="column" id="in-review-column">
  <h2>IN REVIEW</h2>
  <ul id="in-review-list"></ul>
 </div>
 <div class="column" id="done-column">
  <h2>DONE</h2>
  <ul id="done-list"></ul>
 </div>
</div>

<!-- Modal pour ajouter une tâche -->
<div id="task-modal" class="modal">
 <div class="modal-content">
  <span class="close-btn">&times;</span>
  <h2>Ajouter une tâche</h2>
  <form id="task-form" novalidate>
   <div>
    <label for="title">Titre :</label>
    <input
     type="text"
     id="title"
     name="title"
     placeholder="titre"
     minlength="5"
     maxlength="20"
     required
    />
    <div id="error-msg"></div>
   </div>
   <div>
    <label for="description">Description :</label>
    <textarea
     id="description"
     name="description"
     placeholder="description tache"
     maxlength="50"
    ></textarea>
   </div>
   <div>
    <label for="priority">Priorité :</label>
    <select id="priority" name="priority">
     <option value="1">LOW</option>
     <option value="2">MEDIUM</option>
     <option value="3">HIGH</option>
    </select>
   </div>
   <div>
    <label for="due-date">Date limite :</label>
    <input type="date" id="due-date" name="due-date" required />
    <div id="error-msg-date"></div>
   </div>
   <div>
    <label for="assignee">Assigné à :</label>
    <select id="assignee" name="assignee" required>
     <option value="2">Utilisateur 2</option>
     {{!    <option value="3">Utilisateur 2</option>
     <option value="4">Utilisateur 3</option>}}
    </select>
   </div>
   <div>
    <label for="status">Statut :</label>
    <select id="status" name="status" required>
     <option value="1">TODO</option>
     <option value="2">IN_PROGRESS</option>
     <option value="3">IN_REVIEW</option>
     <option value="4">DONE</option>
    </select>
   </div>
   <div>
    <button type="submit" id="submit-task">Ajouter la tâche</button>
   </div>
  </form>
 </div>
</div>
{{!</div>}}